body {
    font-family: 'Poppins', sans-serif; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100vh;
    background: url('B.jpg') no-repeat ;
    background-position:center;
    background-size: cover;
    color: #fff;

    margin: 0;
    padding: 0; 
}

.container {
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #333;
}

form {
    margin: 20px 0;
}
input[type="file"] {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
}

.result img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}
.glaucoma-status p {
    font-weight: bold;
    font-size: 1.2rem;
}

.glaucoma-status p:nth-child(1) {
    color: red;
}

.glaucoma-status p:nth-child(2) {
    color: green;
}
